In [2]:
import pandas as pd
import numpy as np
import dgl

In [3]:
data = pd.read_csv('kg_triplet.csv')
data

         ID(a)            type(r)  ID(b)
0            2  PARTICIPATES_GpBP  69054
1            2  PARTICIPATES_GpBP  49068
2            2  PARTICIPATES_GpBP  52967
3            2  PARTICIPATES_GpBP  36901
4            2  PARTICIPATES_GpBP  36000
...        ...                ...    ...
2316989  96395  PARTICIPATES_GpBP  34434
2316990  96395  PARTICIPATES_GpMF  86690
2316991  96395  PARTICIPATES_GpBP  69546
2316992  96395  PARTICIPATES_GpBP  61469
2316993  96395  PARTICIPATES_GpBP  16640

[2316994 rows x 3 columns]

In [5]:
kg_delete = data[(data['type(r)'] != 'NONSL_GnsG')&(data['type(r)'] != 'SL_GsG')&(data['type(r)'] != 'SR_GsrG')]
kg_delete

         ID(a)            type(r)  ID(b)
0            2  PARTICIPATES_GpBP  69054
1            2  PARTICIPATES_GpBP  49068
2            2  PARTICIPATES_GpBP  52967
3            2  PARTICIPATES_GpBP  36901
4            2  PARTICIPATES_GpBP  36000
...        ...                ...    ...
2316989  96395  PARTICIPATES_GpBP  34434
2316990  96395  PARTICIPATES_GpMF  86690
2316991  96395  PARTICIPATES_GpBP  69546
2316992  96395  PARTICIPATES_GpBP  61469
2316993  96395  PARTICIPATES_GpBP  16640

[2233172 rows x 3 columns]

In [6]:
# kg_delete.to_csv('kgsub_triplet.csv', index=False)

kg_delete.to_csv('kgsub_triplet.txt', sep = '\t', index=False)

In [ ]:
!DGLBACKEND=pytorch dglke_train \
--model_name TransE_l2 \
--batch_size 1000 \
--neg_sample_size 200 \
 --hidden_dim 400 \
--gamma 19.9 \
--lr 0.25 \
--max_step 24000 \
--log_interval 100 \
--batch_size_eval 16 \
-adv \
--regularization_coef 1.00E-09 \
--test \
--gpu 0 1 2 3 \
--mix_cpu_gpu \
--save_path /kg_embed \
--data_path /kg_process \
--format raw_udd_hrt \
--data_files kgsub_triplet.txt \